.create-container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

.create-form {
          display: flex;
          flex-direction: column;
}

input {
          border-radius: 3%;
          background-color: blue;
}

input[type="submit"] {
          margin-top: 5px;
          background-color: greenyellow;
}