.container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
}

.form {
          display: flex;
          flex-direction: column;
}

input {
          border-radius: 3%;
}

input[type="submit"] {
          margin-top: 5px;
          background-color: greenyellow;
}